.hover-img img:hover{
    opacity: .5;
}
.brightness {
    background-color: hsl(0, 0%, 95%);
    display: inline-block;

}
.brightness img:hover {
    opacity: .5;
}
.brightness-circle {
    background-color: hsl(0, 0%, 95%);
    display: inline-block;
    border-radius: 50%;
}
.brightness-circle img:hover {
    opacity: .5;
}
.center {
    padding: 70px 0;
    text-align: center;
}
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}







